#portal-footer {
    margin-top: 25px;
}

/* --------- UPPER FOOTER --------- */

#upper-footer {
    display: flex;
    background-color: slategrey;
    height: 100px;
}

/* --------- LOWER FOOTER --------- */

#lower-footer {
    background-color: #4d5a69;
    height: 50px;
}

#lower-footer #site-actions-wrapper {
    padding: 0 10px 0 10px;;
    margin: 0;
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#lower-footer #site-actions-wrapper .site-action a {
    display: inline-block;
    color: white;
    font-family: monospace;
    margin: 0 10px 0 10px;
    text-transform: uppercase;
    font-size: smaller;
    text-decoration: none;
}

#lower-footer #site-actions-wrapper .site-action a:hover {
    color: #bebebe;
}
