#portal-header {
    margin-bottom: 25px;
    box-shadow: 0 2px 3px 0 black;
}

/* --------- TOPBAR --------- */
#topbar {
    background-color: white;
    height: 100px;
    display: flex;
}

#topbar #logo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

/* --------- NAVIGATION --------- */

#navigation {
    background-color: #026592;
    height: 50px;
}

#navigation #navigation-wrapper {
    padding: 0;
    margin: 0;
    list-style: none;
    height: 100%;
    display: flex;
}

#navigation #navigation-wrapper .nav-element  {
    height: 100%;
}

#navigation #navigation-wrapper .nav-element:hover {
    background-color: #0083be;
}

#navigation #navigation-wrapper .nav-element:not(:last-of-type) {
    border-right: 1px solid #03577d;
}

#navigation #navigation-wrapper .nav-element a {
    padding: 0 10px 0 10px;
    color: white;
    font-family: monospace;
    text-transform: uppercase;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
}
