body {
    margin: 0;
}

/* --------- STICKY FOOTER --------- */

html, body, #outer-wrapper {
    height: 100%;
}

html body #outer-wrapper .container{
    height: 100%;
    display: flex;
    flex-direction: column;
}

html body #main-container {
    flex: 1;
}